<div class="ft">

  <h2 class="ft__caption">Подсчет статистики</h2>

  <h4>Пример оформления:</h4>

  <code class="ft_content">
    <pre>{{ example }}</pre>
  </code>
</div>


<input
  class="ft__file"
  type="file"
  id="files"
  (change)="onFileSelected($event)"
  accept=".txt"
>


<ng-template [ngIf]="fileContent">
  <h4>Матчи:</h4>

  <code class="ft_content">
    <pre>{{ fileContent }}</pre>
  </code>
</ng-template>

<!-- <ft-file-drop (textDrop)="renderFileContent( $event )">
  Drop Your File ( like it's hot )
</ft-file-drop> -->
