<div class="ft">

  <h2 class="ft__ta-caption">Подсчет статистики</h2>

  <h4>Пример оформления:</h4>

  <code class="ft_content">
    <pre>{{ example }}</pre>
  </code>
</div>


<input
  class="ft__file"
  type="file"
  id="files"
  (change)="onFileSelected($event)"
  accept=".txt"
>

<button
  class="ft__clear"
  (click)="clearData()"
>Очистить</button>

<h4
  class="ft__error"
  *ngIf="errorLine"
>{{ errorLine }}</h4>

<h4
  class="ft__error"
  *ngIf="error && !errorLine"
>{{ error }}</h4>

<!-- <ft-file-drop (textDrop)="renderFileContent( $event )">
  Drop Your File ( like it's hot )
</ft-file-drop> -->

<ng-container *ngIf="fileContent">

  <h3 class="ft__caption">Статистика команда/игроки </h3>

  <div class="ft__wrapper">
    <table
      class="ft__table"
      *ngFor="let team of statHashMap | keyvalue"
      id="{{ 'teamId_' + team.key }}"
    >
      <thead class="ft__head">
        <tr class="ft__head-row">
          <th
            class="ft__head-column"
            colspan="3"
          >
            {{ team.key }}
          </th>
        </tr>
      </thead>

      <tbody class="ft__body">
        <tr class="ft__body-row">
          <td
            [height]="tableRowHeight"
            [width]="tableColumnWidth"
            (click)="sort(team.key, StatKeysEnum.Players)"
            class="ft__body-column ft__body-column--player"
          >
            <div class="ft__body-wrappper">
              <span class="ft__body-data">Игрок</span>
              <span class="ft__body-icon">
                <img
                  *ngIf="tableSortingState[team.key].players === SortingTypesEnum.Default"
                  class="ft__body-img"
                  src="/assets/icons/sort.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].players === SortingTypesEnum.DESC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-down.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].players === SortingTypesEnum.ASC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-up.svg"
                  alt="svg-color"
                >
              </span>
            </div>
          </td>
          <td
            [height]="tableRowHeight"
            [width]="tableColumnWidth"
            (click)="sort(team.key, StatKeysEnum.Games)"
            class="ft__body-column ft__body-column--games"
          >
            <div class="ft__body-wrappper">
              <span class="ft__body-data">Количество игр</span>
              <span class="ft__body-icon">
                <img
                  *ngIf="tableSortingState[team.key].games === SortingTypesEnum.Default"
                  class="ft__body-img"
                  src="/assets/icons/sort.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].games === SortingTypesEnum.DESC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-down.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].games === SortingTypesEnum.ASC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-up.svg"
                  alt="svg-color"
                >
              </span>
            </div>
          </td>

          <td
            [height]="tableRowHeight"
            [width]="tableColumnWidth"
            (click)="sort(team.key, StatKeysEnum.Goals)"
            class="ft__body-column ft__body-column--goals"
          >
            <div class="ft__body-wrappper">
              <span class="ft__body-data">Количество голов</span>
              <span class="ft__body-icon">
                <img
                  *ngIf="tableSortingState[team.key].goals === SortingTypesEnum.Default"
                  class="ft__body-img"
                  src="/assets/icons/sort.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].goals === SortingTypesEnum.DESC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-down.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="tableSortingState[team.key].goals === SortingTypesEnum.ASC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-up.svg"
                  alt="svg-color"
                >
              </span>
            </div>

          </td>
        </tr>

        <tr
          class="ft__body-row"
          *ngFor="let player of team.value | keyvalue: originalOrder"
        >
          <td class="ft__body-column ft__body-column--player">{{ player.key }}</td>
          <td class="ft__body-column ft__body-column--games">{{ player.value.games }}</td>
          <td class="ft__body-column ft__body-column--goals">{{ player.value.goals }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <h3 class="ft__caption">
    Статистика игры/судьи
  </h3>

  <div class="ft__wrapper">
    <table
      class="ft__table"
      *ngFor="let referee of refereeHashMap | keyvalue"
    >
      <thead class="ft__head">
        <tr class="ft__head-row">
          <th
            [height]="tableRowHeight"
            [width]="tableColumnWidth"
            (click)="sortRefs('referee')"
            class="ft__head-column"
          >
            <div class="ft__body-wrappper">
              <span class="ft__body-data">Судья</span>
              <span class="ft__body-icon">
                <img
                  *ngIf="refereeSortingState.referee === SortingTypesEnum.Default"
                  class="ft__body-img"
                  src="/assets/icons/sort.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="refereeSortingState.referee === SortingTypesEnum.DESC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-down.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="refereeSortingState.referee === SortingTypesEnum.ASC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-up.svg"
                  alt="svg-color"
                >
              </span>
            </div>
          </th>
          <th
            [height]="tableRowHeight"
            [width]="tableColumnWidth"
            (click)="sortRefs('games')"
            class="ft__head-column"
          >
            <div class="ft__body-wrappper">
              <span class="ft__body-data">Количество игр</span>
              <span class="ft__body-icon">
                <img
                  *ngIf="refereeSortingState.games === SortingTypesEnum.Default"
                  class="ft__body-img"
                  src="/assets/icons/sort.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="refereeSortingState.games === SortingTypesEnum.DESC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-down.svg"
                  alt="svg-color"
                >
                <img
                  *ngIf="refereeSortingState.games === SortingTypesEnum.ASC"
                  class="ft__body-img"
                  src="/assets/icons/chevron-up.svg"
                  alt="svg-color"
                >
              </span>
            </div>
          </th>
        </tr>
      </thead>

      <tbody class="ft__body">
        <tr
          class="ft__body-row"
          *ngFor="let ref of referee.value| keyvalue: originalOrder"
        >
          <td class="ft__body-column">{{ ref.key }}</td>
          <td class="ft__body-column ft__body-column--games">{{ ref.value.games }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template [ngIf]="fileContent">
  <h4>Матчи:</h4>

  <code class="ft_content">
    <pre>{{ fileContent }}</pre>
  </code>
</ng-template>
